[submodule "vendored/bgfx.cmake"]
	path = vendored/bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake.git
[submodule "vendored/SDL"]
	path = vendored/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendored/SDL_mixer"]
	path = vendored/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "vendored/glaze"]
	path = vendored/glaze
	url = https://github.com/stephenberry/glaze.git
[submodule "vendored/earcut.hpp"]
	path = vendored/earcut.hpp
	url = https://github.com/mapbox/earcut.hpp.git
[submodule "vendored/resvg"]
	path = vendored/resvg
	url = https://github.com/linebender/resvg.git
[submodule "vendored/rectpack2D"]
	path = vendored/rectpack2D
	url = https://github.com/TeamHypersomnia/rectpack2D.git
